.venv/
venv/
env/
__pycache__/
*.pyc

.git/
.gitignore

data/
artifacts/models/

app/frontend/node_modules/
app/frontend/.next/
app/frontend/out/

*.zip
*.tar
*.gz
*.log

.DS_Store
Thumbs.db
desktop.ini